<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Comaptible" content="IE-edge">
        <meta name="viewport" content="width-device-width, intial-scaler=1.0">
        <title> Patient Details </title>
        <link rel="stylesheet" href="css/styledv.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
        <div class ="containersalvin">
            <div class = "sidebar ">
            <div class="logo">
                <img src="img/logo.png"><span>Medico</span>
            </div>  
            <nav>
                <ul>
                     <li><a href ="doctorv">HOME</a></li>
                    <li><a href ="d-profile">PROFILE</a></li>
                    <li><a href ="doctorPV">PATIENT</a></li>
                    <li><a href ="pCheck.html">TIME SCHEDULE</a></li>
                    <li><a href ="patientD.html">ACCESS</a></li>
                    
                    
                </ul>
            </nav>
           
            </div>
            
        
            <div class="education" >
                <div class="PDtopic"> Find Your Patient</div>
                <section class="work-section">
                   <a href="consult-p"><div class="row">
                            <div class="col span_1_of_2 about-box js--about-box">
                            <img src="img/img7.jpg" alt="Medico on technology" class="technology-image">
                
                            <h3>Patient name : {{patientname}}</h3>
                            <p class="about-para">{{info}}</p>
                          
                        
                    </div>
                    <div class="div-body">
                        <h2 class="section-heading">Patient's experinces</h2>
                        <br>
                        <p class="about-para1">status : active</p>
                        <p class="about-para1">Join with our Medico Webcare +1month</p>
                        
                        
                    </div>
                    </div>
                   </a>
                </section>
                
                
                
                
                

            </div>

            
            
        
    </div>
    
    
    <script src=".js/scriptS.js"></script>
    </body>
</html>