<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Comaptible" content="IE-edge">
        <meta name="viewport" content="width-device-width, intial-scaler=1.0">
        <title> Doctor View </title>
        <link rel="stylesheet" href="css/styledv.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
        <div class ="containersalvin">
            <div class = "sidebar ">
            <div class="logo">
                <img src="img/logo.png"><span>Medico</span>
            </div>  
            <nav>
                <ul>
                    <li><a href ="doctorv">HOME</a></li>
                    <li><a href ="d-profile">PROFILE</a></li>
                    <li><a href ="doctorPV">PATIENT</a></li>
                    <li><a href ="pCheck.html">TIME SCHEDULE</a></li>
                    <li><a href ="patientD.html">ACCESS</a></li>
                    <li><i class="fa-solid fa-up-right-from-square"></i><a href ="/logoutd" style="color: black;">logout</a></li>
                    
                    
                </ul>
            </nav>
           
            </div>
            
        
            <div class="education" >
                <div class="p-intro">
                    <h1> Welcome , to </h1>
                    <h2>Medico Webcare</h2>
                </div>
                <div class="P-features">

                    <h2>Features</h2>
                    <div class="f-container">
                        <div class="f-box">
                            <img src ="img/pv1.jpeg">
                            <p> <span>Doctor Profile</span>
                                Here you will get all information regarding your personal details you can check and modify also regarding your need 
                                .</p>
     
                        </div>
                        <div class ="f-box1">
                            <img src ="img/pv2.jpeg">
                            <p><span>Patient </span>
                                Here You will get your all info of your patient details, you can select your current patient and consult according to
                                your time schedule..</p>

                        </div>
                        
                    </div>
                    <div class="f-container">
                        <div class="f-box">
                            <img src ="img/pv3.jpeg">
                            <p><span>Time schedule</span>
                                Here you can give and maintain your all day time schedule in which you can see patient so , it can mange both patient and doctor
                                to provide specific time period.</p>
     
                        </div>
                        <div class ="f-box1">
                            <img src ="img/pv1.jpeg">
                            <p><span>Access</span>
                                In this tab you will all details of your new patient and you have choice to add patient according to problems and all.</p>

                        </div>
                        
                    </div>
                    <div class="f-container">
                        <div class="f-box">
                            <img src ="img/pv4.jpeg">
                            <p><span>Patient Profile</span>
                                Here You will get your all info like name, age, Aadhaar number,
                                 Phone number, address and some other details. You can also edit/update your personal information.</p>
     
                        </div>
                        <div class ="f-box1">
                            <img src ="img/pv2.jpeg">
                            <p><span>Patient Profile</span>
                                Here You will get your all info like name, age, Aadhaar number,
                                 Phone number, address and some other details. You can also edit/update your personal information.</p>

                        </div>
                        
                    </div>
                    
                </div>
                
                
                
                

            </div>

            
            
        
    </div>
    
    
    <script src=".js/scriptS.js"></script>
    </body>
</html>