<!DOCTYPE html>
<html>
<head>
	<title>Medico Webcare - The Place to Good health</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/f0b4d212f8.js" crossorigin="anonymous"></script>

	<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
	<link rel="manifest" href="favicon/site.webmanifest">

	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;700&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="css/fluid.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
	<link rel="stylesheet" type="text/css" href="css/styleIM.css">
	<link rel="stylesheet" type="text/css" href="css/media-query.css">
</head>
<body>
<header id="home">
	<nav>
		<img src="img/logo.png" alt=" Logo" class="logo">
		<ul class="main-nav">
				<li><a href="#home">Home</a></li>
				<li><a href="loginP">LOGIN</a></li>
				<li><a href="#contact">Contact</a></li>
				<li><a href="#about">About</a></li>
		</ul>
	</nav>
	<div class="header-box">
		<div class="header-text-box">
			<h1>Medico Webcare</h1>
			<h2>One stop for your good Health</h2>
		</div>
		<a href="registerP" class="btn btn-full js--scroll-to-contact">join Us!</a>
	</div>
</header>

<section class="about-section js--about-section" id="about">
	<div class="row">
		<div class="col span_1_of_2 about-box js--about-box">
			<h2 class="about-heading">A Digital website 'Medico webcare' focused on growing your mental and physical health</h2>
			<p class="about-para">Here you can have a conversation with a verified certefied doctor about your health issues. 
				<br>
				<br>
				Our Medico Webcare directory dealing with very complex hereditary predispositions to specific diseases. In the above example, the user is predisposed to Celiac Disease. On the details page,  Medico Webcare does an excellent job of “translating” this concept to the end-user:
				<br>
				<br>

           It explains what the disease is
           It tells the user whether he/she is predisposed to it
           It recommends that the user to get in touch with a healthcare professional
           It clearly calls out this isn’t a diagnostic
           It highlights the intended use of the report and its limitations. </p>
			<p class="about-para">Here we are for you to make sure everyone getting an opportunity to be the part of a healthy Soceity.</p>
			<a href="#" class="btn btn-ghost">Read More</a>
		</div>
		<div class="col span_1_of_2 about-box js--about-box">
			
		</div>
	</div>
</section>

<section class="work-section">
	<div class="row">
		<h2 class="section-heading">Our Work</h2>
		<h3 class="section-sub-heading">Create a medium to connect with doctor easily</h3>
	</div>
	<ul class="work-portfolio clearfix">
		<li>
			<figure class="portfolio-image">
				<img src="img/img11-min.jpg" alt="Medical Records Image">
				<p class="work-para">Medical Records</p>
			</figure>
		</li>
		<li>
			<figure class="portfolio-image">
				<img src="img/img4-min.jpg" alt="Perscriped Medicines by Doctor">
				<p class="work-para">Perscriped Medicines by Doctor</p>
			</figure>
		</li>
		<li>
			<figure class="portfolio-image">
			<img src="img/home-min.jpg" alt="Verified and Experience Doctors">
			<p class="work-para">Verified and Experience Doctors</p>
			</figure>
		</li>
		<li>
			<figure class="portfolio-image">
				<img src="img/happy-min.png" alt="Sertified Doctors with You">
				<p class="work-para">Sertified Doctors with You</p>
			</figure>
		</li>
	</ul>
</section>

<section class="services-section js--services-section">
	<div class="row">
		<h2 class="section-heading">Our Services</h2>
		<h3 class="section-sub-heading">To provide a effective and easy way to consult Doctor</h3>
	</div>
	<div class="row">
		<div class="col span_1_of_4 service-box js--service-box">
			<img src="img/happy-min.png" alt="Perscriped Medicines by Doctor">
			<h4 class="service-heading">Free Registration</h4>
			<p class="service-para">This application is having no charge of registering to the medico webcare</p>
			<a href="#" class="service-link">Read More...</a>
		</div>
		<div class="col span_1_of_4 service-box js--service-box">
			<img src="img/health-care.jpeg" alt="Perscriped Medicines by Doctor">
			<h4 class="service-heading">Expert Doctors</h4>
			<p class="service-para">You will get a top notch Doctor of every field.</p>
			<a href="#" class="service-link">Read More...</a>
		</div>
		<div class="col span_1_of_4 service-box js--service-box">
			<img src="img/doctor.jpg" alt="Perscriped Medicines by Doctor">
			<h4 class="service-heading">Affordable</h4>
			<p class="service-para">Consult service charge is very Affordable.</p>
			<a href="#" class="service-link">Read More...</a>
		</div>
		<div class="col span_1_of_4 service-box js--service-box">
			<img src="img/pv3.jpeg" alt="Perscriped Medicines by Doctor">
			<h4 class="service-heading">Health Directory</h4>
			<p class="service-para">You will get all details of your medicine , check-up , reports and all.</p>
			<a href="#" class="service-link">Read More...</a>
		</div>
	</div>
</section>



<section class="about-section js--about-section" id="about">
	<div class="row">
		<div class="col span_1_of_2 about-box js--about-box">
			<h2 class="about-heading">A Digital website 'Medico webcare' focused on growing your mental and physical health</h2>
			<p class="about-para">Here you can have a conversation with a verified certefied doctor about your health issues. </p>
			<p class="about-para">Here we are for you to make sure everyone getting an opportunity to be the part of a healthy Soceity.</p>
			<a href="#" class="btn btn-ghost">Read More</a>
		</div>
		<div class="col span_1_of_2 about-box js--about-box">
			<img src="img/happy-min.png" alt="Medico on technology" class="technology-image">
		</div>
	</div>
</section>


<section class="partners-section">
	<div class="row">
		<h2 class="section-heading">Featured Clients</h2>
		<h3 class="section-sub-heading">We've worked with some of the best companies in the world. Here are some of our Amazing Partners</h3>
	</div>
	<div class="row">
		<div class="col span_1_of_4">
			<img class="partner-logo" src="img/brand-logo-1.png" alt="Brand Logo">
		</div>
		<div class="col span_1_of_4">
			<img class="partner-logo" src="img/brand-logo-2.png" alt="Brand Logo">
		</div>
		<div class="col span_1_of_4">
			<img class="partner-logo" src="img/brand-logo-3.png" alt="Brand Logo">
		</div>
		<div class="col span_1_of_4">
			<img class="partner-logo" src="img/brand-logo-4.png" alt="Brand Logo">
		</div>
	</div>

	<div class="row">
		<div class="col span_1_of_4">
			<img class="partner-logo" src="img/brand-logo-5.png" alt="Brand Logo">
		</div>
		<div class="col span_1_of_4">
			<img class="partner-logo" src="img/brand-logo-6.png" alt="Brand Logo">
		</div>
		<div class="col span_1_of_4">
			<img class="partner-logo" src="img/brand-logo-7.png" alt="Brand Logo">
		</div>
		<div class="col span_1_of_4">
			<img class="partner-logo" src="img/brand-logo-8.png" alt="Brand Logo">
		</div>
	</div>
</section>

<section class="testimonials-section" >
	<div class="row">
		<h2 class="testimonial-heading">Our Testimonials</h2>
	</div>
	<div class="row">
		<div class="col span_1_of_4 testimonial-box">
			<blockquote>
				Contribution in the part of full-stack development as front-end and back-end both . Design the structure path and mange all the back-end work of server.
			</blockquote>
			<cite><img src="img/salvin.jpg" alt="Arron Cruz">Salvin Rai</cite>
		</div>
		<div class="col span_1_of_4 testimonial-box">
			<blockquote>
				Contribution in the part of front-end development design the structure and layout also work for including packages.
			</blockquote>
			<cite><img src="img/vikash.jpeg" alt="Jeff Jones">Vikash Kumar Misra</cite>
		</div>
		<div class="col span_1_of_4 testimonial-box">
			<blockquote>
				Contribution in the part of front-end development design the structure and layout also work for mainpages .
			</blockquote>
			<cite><img src="img/iram.jpg" alt="Elenise da Conceicao">Iram Nishat</cite>
		</div>
		<div class="col span_1_of_4 testimonial-box">
			<blockquote>
				Contribution in the part of front-end development design the structure and layout also work for sub-parts of mainpages.
			</blockquote>
			<cite><img src="img/chandu.jpeg" alt="Arron Cruz">Chandrabhusan Kumar</cite>
		</div>
	</div>
</section>


<section class="contact-section js--contact" id="contact">
	<div class="row">
		<h2 class="contact-heading">We're happy to hear from you</h2>
	</div>
	<div class="row">
		<form method="post" action="#" class="contact-form">
			<div class="row">
				<div class="col span_1_of_3 contact-label">
					<label for="name">Name</label>
				</div>
				<div class="col span_2_of_3">
					<input type="text" name="name" id="name" placeholder="Your Name" required>
				</div>
			</div>
			<div class="row">
				<div class="col span_1_of_3 contact-label">
					<label for="email">Email</label>
				</div>
				<div class="col span_2_of_3">
					<input type="email" name="email" id="email" placeholder="Your email" required>
				</div>
			</div>
			<div class="row">
				<div class="col span_1_of_3 contact-label">
					<label for="newsletter">Newsletter?</label>
				</div>
				<div class="col span_2_of_3">
					<input type="checkbox" name="newsletter" id="newsletter" checked>&nbsp;Yes, Please
				</div>
			</div>
			<div class="row">
				<div class="col span_1_of_3 contact-label">
					<label for="message">Drop us a line</label>
				</div>
				<div class="col span_2_of_3">
					<textarea name="message" id="message" placeholder="Your message"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col span_1_of_3">
					&nbsp;
				</div>
				<div class="col span_2_of_3">
					<input type="submit" value="Send it!">
				</div>
			</div>

		</form>
	</div>
</section>

<footer>
	<div class="row">
		<div class="col span_1_of_2">
			<ul class="footer-nav">
				<li><a href="#">About Us</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Help & Support</a></li>
				<li><a href="#">iOS App</a></li>
				<li><a href="#">Android App</a></li>
			</ul>
		</div>
		<div class="col span_1_of_2">
			<ul class="social-links">
				<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
				<li><a href="#"><i class="fab fa-twitter"></i></a></li>
				<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
				<li><a href="#"><i class="fab fa-instagram"></i></a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<p>This webpage has been created for the official site of medico webcare for the consultancy services having a module of patient and doctor both.</p>
	</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="./js/scriptIM.js"></script>



</body>

</html>