<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Comaptible" content="IE-edge">
        <meta name="viewport" content="width-device-width, intial-scaler=1.0">
        <title> Patient View </title>
        <link rel="stylesheet" href="css/stylev.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
        <div class ="containersalvin">
            <div class = "sidebar ">
            <div class="logo">
                <img src="img/logo.png"><span>Medico</span>
            </div>  
            <nav>
                <ul>
                    <li><a href ="/patient">HOME</a></li>
                    <li><a href ="/patientP">PROFILE</a></li>
                    <li><a href ="/patientR">REPORTS</a></li>
                    <li><a href ="/pCheck">CHECK-UP</a></li>
                    <li><a href ="/patientD">DOCTOR</a></li>
                    <li><a href ="/patientM">MEDICINE</a></li>
                    <li><i class="fa-solid fa-up-right-from-square"></i><a href ="/logout" style="color: black;">logout</a></li>
                    
                </ul>
            </nav>
           
            </div>
            
        
            <div class="education" >
                <div class="p-intro">
                    <h1> Welcome , to </h1>
                    <h2>Medico Webcare</h2>
                </div>
                <div class="P-features">

                    <h2>Features</h2>
                    <div class="f-container">
                        <div class="f-box">
                            <img src ="img/pv1.jpeg">
                            <p> <span>Patient Profile</span>
                                Here you will get all information regarding your personal details you can check and modify also regarding your need 
                                .</p>
     
                        </div>
                        <div class ="f-box1">
                            <img src ="img/pv2.jpeg">
                            <p><span>Report</span>
                                In this page you will get all the details of your reports that you have already submitted here , 
                                you can also add your respective reports.</p>

                        </div>
                        
                    </div>
                    <div class="f-container">
                        <div class="f-box">
                            <img src ="img/pv3.jpeg">
                            <p><span>Medicine</span>
                                In this page you will get all the details of your medicine info that you have already get after check-up , 
                                you can see it any time and this medicine coloumn mangae by doctor directly.</p>
     
                        </div>
                        <div class ="f-box1">
                            <img src ="img/pv1.jpeg">
                            <p><span>Check-up</span>
                                 In this page you will get all the details of your check-up details info that you have already got after consultancy service by
                                 doctor ,and this check-up coloumn mangae by doctor directly.</p>

                        </div>
                        
                    </div>
                    <div class="f-container">
                        <div class="f-box">
                            <img src ="img/pv4.jpeg">
                            <p><span>Doctor</span>
                                Here You will get your all info Doctor information , you can select your doctor and consult according to
                                your choice with a affordable price.</p>
     
                        </div>
                        <div class ="f-box1">
                            <img src ="img/pv2.jpeg">
                            <p><span>Doctor info</span>
                                You will get this page after you selected doctor it will give you a brief info of doctor regarding his qualification 
                                current working and all stuffs.</p>

                        </div>
                        
                    </div>
                    
                </div>
                
                
                
                

            </div>

            
            
        
    </div>
    
    
    <script src=".js/scriptS.js"></script>
    </body>
</html>