<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Comaptible" content="IE-edge">
        <meta name="viewport" content="width-device-width, intial-scaler=1.0">
        <title> Patient Medicine </title>
        <link rel="stylesheet" href="css/stylev.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
        <div class ="containersalvin">
            <div class = "sidebar ">
                <div class="logo">
                    <img src="img/logo.png"><span>Medico</span>
                </div>  
            <nav>
                <ul>
                    <li><a href ="/patient">HOME</a></li>
                    <li><a href ="/patientP">PROFILE</a></li>
                    <li><a href ="/patientR">REPORTS</a></li>
                    <li><a href ="/pCheck">CHECK-UP</a></li>
                    <li><a href ="/patientD">DOCTOR</a></li>
                    <li><a href ="/patientM">MEDICINE</a></li>
                    
                </ul>
            </nav>
           
            </div>
            
        
            <div class="education" >
                <div class="PDtopic"> MEDICINE </div>
            
            <div class="medicinep">
                <div class="generalInfo">
                
                    <table>
                        <th>Date</th>
                        <th>Patient Name</th>
                        <th>Prescribed by</th>
                        <th>Medicine view</th>
                        <tr>
                            <td>15/04/2022</td>
                            <td>Pratyush Rai</td>
                            <td>Prerita Rai</td>
                            <td>>view</td>
                        </tr>
                        
                        
                    </table>
                </div>
    
            </div>
           
        </div>
        
    </div>
    
    
    <script src=".js/scriptS.js"></script>
    </body>
</html>